{% extends 'base.html.twig' %}

{% block title %}Détails du compte-rendu
{% endblock %}

{% block content %}
	<div class="bg-gray-300 m-10 border-2 border-gray-500 flex justify-center">

		<div class="bg-white border-2 border-gray-400 w-1/2 m-5">
			<div class="m-5">
				<h5 class="text-xl text-indigo-500 flex justify-center">
					Compte rendu num :
				</h5>
				<p>
					Nom :
				</p>
				<p>
					Ville :
				</p>
				<p>
					Date Visite :
				</p>
				<p>
					Date Rédaction :
				</p>
				<p>
					Coefficients de confiance :
				</p>
				<p>
					Motifs :
				</p>
				<p>
					Bilan :
				</p>
				<p>
					Matricule :
				</p>
			</div>
		</div>

	</div>
{% endblock %}
